<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <!-- Header Section -->
  <header>
    <div class="logo">
      <a href="#">NF</a> <!-- Replace with your logo or initials -->
    </div>
    <nav>
      <ul>
        <li><a href="https://github.com/najouaelfethi" target="_blank">GitHub</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>
    </nav>
    <div class="icon">
      <a href="javascript:void(0);" onclick="openApp('resume')" class="case-studies-button">My Resume</a>
      <span>Resume</span>
    </div>
    
  </header>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <p>Hi There 👋 I'm</p>
      <h1>Najoua Elfethi</h1>
      <h2>Data Scientist + Software Engineer 👩🏾‍💻</h2>
      <p>I specialize in creating data-driven applications and solutions. Below, you’ll find some of the projects I’ve worked on.</p>
      <a href="#contact" class="hire-me-button">Hire Me</a>
    </div>
    <div class="hero-image">
      <img src="{% static 'img/me.png' %}" alt="Profile Icon"> 
    </div>
  </section>

  <script src="{% static 'js/script.js' %}"> </script>

</body>
</html>
