<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Najoua ELFETHI's Portfolio</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

  <main>

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
            <img src="{% static 'img/me.png' %}" alt="Profile Icon" > 
        </figure>

        <div class="info-content">
          <h1 class="name" title="Najoua ELFETHI">Najoua ELFETHI</h1>

          <p class="title">Junior Data Scientist</p>
        </div>


        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:najouaelfethi@gmail.com" class="contact-link">najouaelfethi@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <p style="color: #5b4c9a; font-size: 0.9rem;">+212 772-978509</p>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">27 August, 2001</time>
            </div>

          </li>


        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="https://www.linkedin.com/in/najoua-elfethi-627a91211/" target="_blank" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://github.com/najouaelfethi" target="_blank" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>


        </ul>

      </div>

    </aside>


    <div class="main-content">
      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link id="about">About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link id="resume">Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link id="project">Projects</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link id="certificates">Certificates</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link id="blog">Blog</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link id="contact">Contact</button>
          </li>

        </ul>

      </nav>

      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about" id="about">

        <header>
          <h2 class="h2 article-title">Hi Welcome</h2>
        </header>

        <section class="about-text">
          <p>
            
            I'm Najoua ELFETHI a Data Science student, passionate about using data to solve real-world problems. With a background in software development, I love working on projects that combine AI, machine learning, and Big Data to make a meaningful impact.

          </p>

          <p>
            When I’m not coding, you can find me exploring the latest advancements in AI, diving into a good book, or enjoying a coffee! ☕
          </p>

          <button class="resume-btn">
            <a href="{% static 'docs/CV_NAJOUA_ELFETHI.pdf' %}" target="_blank">
            <span>My Resume</span>
          </a>
          </button>

        </section>

        <section class="service">

          <h3 class="h3 service-title">Skills</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'img/machine learning.png' %}" alt="machine learning" style="width:40px;"> 
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Machine Learning & AI</h4>

                <p class="service-item-text">
                    Machine learning is more than just an API call to scikit-learn for me. I’m passionate about the math and theory behind it as well as its practical implementation.
                </p>
              </div>

            </li>

            <li class="service-item">

                <div class="service-icon-box">
                  <img src="{% static 'img/deploymodel.png' %}" alt="model"  style="width:40px;"> 
            </div>
  
                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Model Deployment</h4>
  
                  <p class="service-item-text">
                    I have hands-on experience deploying machine learning models, making them accessible and efficient in real-world applications.
                  </p>
                </div>
  
              </li>

              <li class="service-item">

                <div class="service-icon-box">
                  <img src="{% static 'img/database.png' %}" alt="database" style="width:40px;"> 
                </div>
  
                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Big Data</h4>
  
                  <p class="service-item-text">
                    I’m passionate about analyzing large-scale datasets and enjoy using distributed computing tools to extract meaningful insights from massive data streams.
                  </p>
                </div>
  
              </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'img/bot.png' %}" alt="nlp" style="width:40px;"> 
            </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">NLP</h4>

                <p class="service-item-text">
                    I’ve built a chatbot that applies NLP techniques, enabling it to handle simple, engaging interactions with users.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'img/analyse data.png' %}" alt="analyse data" style="width:40px;"> 
            </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Data Analytics</h4>

                <p class="service-item-text">
                    I love finding the story within data. Creating beautiful, compelling presentations to convey insights is one of my favorite skills.
                </p>
              </div>

            </li>

            <li class="service-item">

                <div class="service-icon-box">
                  <img src="{% static 'img/webscrapping.png' %}" alt="scrapping"  style="width:40px;"> 
                </div>
  
                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web Scrapping</h4>
  
                  <p class="service-item-text">
                    I focus on extracting and analyzing data from websites to gain insights and enhance my projects.
                  </p>
                </div>
  
              </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'img/dev.png' %}" alt="dev" style="width:40px;"> 
            </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web Development</h4>

                <p class="service-item-text">
                    I enjoy developing projects using various programming languages and frameworks.
                </p>
              </div>

            </li>

          </ul>

        </section>

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title></h4>

              <time datetime="2021-06-14"></time>

              <div data-modal-text>
                <p>
                  
                </p>
              </div>

            </div>

          </section>

        </div>

      </article>

      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume" id="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Multidisciplinary Faculty</h4>

              <span>2023 — 2025 Nador, Morocco</span>

              <p class="timeline-text">
                MASTER IN DATA SCIENCE AND INTELLIGENT SYSTEMS
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Faculty of Science and Technology</h4>

              <span>2022 — 2023 Beni Mellal, Marocco</span>

              <p class="timeline-text">
                BACHELOR'S DEGREE IN SCIENCE AND TECHNOLOGY: COMPUTER SCIENCE
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Faculty of Science and Technology</h4>

              <span>2019 — 2022 Beni Mellal, Marocco</span>

              <p class="timeline-text">
                UNIVERSITY DIPLOMA IN SCIENCE AND TECHNOLOGY (DEUST): MIPC
              </p>

            </li>

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Sanabil Al Amal High School</h4>
  
                <span>2018 — 2019 Khouribga, Marocco</span>
  
                <p class="timeline-text">
                SCIENTIFIC BACCALAUREATE
                </p>
  
              </li>

          </ol>

        </section>

        <section class="timeline">

            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>
  
              <h3 class="h3">Experience</h3>
            </div>
  
            <ol class="timeline-list">
  
              <li class="timeline-item">
  
                <h4 class="h4 timeline-item-title">END OF STUDIES INTERNSHIP IN WEB DEVELOPMENT AT OCP GROUP</h4>
  
                <span>2023 — Present</span>
  
                <p class="timeline-text">
                    Development of a web application for managing IT/OT Cybersecurity at the OCP Khouribga site
                </p>
  
              </li>
  
            </ol>
  
          </section>
        

        
      </article>

      <!--
        - #Projects
      -->

      <article class="projects" data-page="projects" id="projects">

        <header>
          <h2 class="h2 article-title">Projects</h2>
        </header>

        <section class="projects">
<!--
          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Machine Learning & AI</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Data Analytics</button>
            </li>

            <li class="filter-item">
                <button data-filter-btn>Big Data</button>
              </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>
-->
          
          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Machine Learning & AI</button>
              </li>

              <li class="select-item">
                <button data-select-item>Data Analytics</button>
              </li>

              <li class="select-item">
                <button data-select-item>Big Data</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div>
          

          <ul class="project-list">
          <!--project 1-->
            <li class="project-item  active" data-filter-item data-category="Machine Learning & AI">
              <a href="https://github.com/najouaelfethi/Chatbot-Friends" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/conv_with_joey.jpeg' %}" alt="chatbot"> 
                </figure>

                <h3 class="project-title">Chatbot based on GPT</h3>

                <p class="project-category">Machine Learning & AI</p>

              </a>
            </li>
          
            <!--project 2-->
            <li class="project-item  active" data-filter-item data-category="Data Analytics">
              <a href="https://github.com/najouaelfethi/LinkdInDataAnalytisis" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/scrapping.png' %}" alt="Scrapping and analysing" style="width: 200px; height: auto; display: block; margin: auto;"> 
                </figure>

                <h3 class="project-title">LinkedIn Data Analysis</h3>

                <p class="project-category">Web Scrapping</p>

              </a>
            </li>

            <!--project 3-->
            <li class="project-item  active" data-filter-item data-category="Machine Learning & AI">
              <a href="https://github.com/najouaelfethi/MLProject" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/prediction.png' %}" alt="Prediction" style="width: 200px; height: auto; display: block; margin: auto;"> 
                </figure>

                <h3 class="project-title">Prediction of Care Costs and Hospital Mortality</h3>

                <p class="project-category">Machine Learning & AI</p>

              </a>
            </li>

            <!--project 4-->
            <li class="project-item  active" data-filter-item data-category="Big Data">
              <a href="https://github.com/najouaelfethi/SpakProject" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/apache spark.webp' %}" alt="apache spark"> 
                </figure>

                <h3 class="project-title">Analyzing LinkedIn Job Postings with Apache Spark</h3>

                <p class="project-category">Big Data</p>

              </a>
            </li>

            <!--project 5-->
            <li class="project-item  active" data-filter-item data-category="Web Development">
              <a href="https://github.com/najouaelfethi/phd-research-proposal-app" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/phd_website.png' %}" alt="phd website"> 
                </figure>

                <h3 class="project-title">Web application for managing research topic proposals for 1st year PhD students</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <!--project 6-->
            <li class="project-item  active" data-filter-item data-category="Web Development">
              <a href="https://github.com/najouaelfethi/Cybersecurity-Managment-System/tree/CyberSecurityProject" target="_blank">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'img/avancement.png' %}" alt="apache spark" > 
                </figure>

                <h3 class="project-title">IT/OT Cybersecurity Managment System App</h3>

                <p class="project-category">Web Development</p>

              </a>
            </li>

          </ul>

        </section>

      </article>


    <!--
    Certificates  
    -->
    
    <article class="certificates" data-page="certificates" id="certificates">

      <h2 class="h2 article-title">Certificates</h2>


      <section class="certificate-list">
    
        <ul class="certificate-items">
          
          <li class="certificate-item">
            <a href="{% static 'docs/certificate1.pdf' %}" target="_blank">
    
              <figure class="certificate-banner-box">
                <img src="{% static 'img/ctf1.png' %}" alt="certificate 1" > 
              </figure>
    
              <div class="certificate-content">
                <div class="certificate-meta">
                  <p class="certificate-category">Machine Learning</p>
                  <span class="dot"></span>
                </div>
    
                <h3 class="h3 certificate-title">Exploratory Data Analysis for Machine Learning  - IBM </h3>
    
              </div>
            </a>
          </li>
    
          <li class="certificate-item">
            <a href="{% static 'docs/certificate2.pdf' %}" target="_blank">
    
              <figure class="certificate-banner-box">
                <img src="{% static 'img/ctf2.png' %}" alt="certificate 2" > 
              </figure>
    
              <div class="certificate-content">
                <div class="certificate-meta">
                  <p class="certificate-category">Machine Learning</p>
                  <span class="dot"></span>
                </div>
    
                <h3 class="h3 certificate-title">Supervised Machine Learning: Regression  - IBM </h3>
    
              </div>
            </a>
          </li>
    
          
          <li class="certificate-item">
            <a href="{% static 'docs/certificate3.pdf' %}" target="_blank">
    
              <figure class="certificate-banner-box">
                <img src="{% static 'img/ctf3.png' %}" alt="certificate 3" > 
              </figure>
    
              <div class="certificate-content">
                <div class="certificate-meta">
                  <p class="certificate-category">Machine Learning</p>
                  <span class="dot"></span>
                </div>
    
                <h3 class="h3 certificate-title">Supervised Machine Learning: Classification - IBM </h3>
    
              </div>
            </a>
          </li>

        </ul>
    
      </section>
    
    </article>
    

      
      <!--
        - #BLOG
      -->

      <article class="blog" data-page="blog" id="blog">

        <header>
          <h2 class="h2 article-title">Blogs</h2>
        </header>

        <section class="blog-posts">
          Coming Soon !

          <!--
          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="" alt="" loading="...">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">....</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">...</time>
                  </div>

                  <h3 class="h3 blog-item-title">...</h3>

                  <p class="blog-text">
                         ....
                  </p>

                </div>

              </a>
            </li>
          -->

          </ul>

        </section>

      </article>

      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact" id="contact">

        <header>
          <h2 class="h2 article-title">Get In Touch</h2>
        </header>
        <p class="contact-message">I’d love to hear from you whether it's about my work or just to connect!</p>
        <section class="contact-form">

          <form action="{% url 'send_email_view' %}#contact" method ="POST" class="form" data-form>
            {% csrf_token %}

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>
          {% if success %}
          <p class="success-message">Your message has been sent successfully!</p>
          {% endif %}

        </section>

      </article>

    </div>

  </main>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>